/* .ant-modal{
    display:flex!important;
    flex-direction: column;
    align-items: center;
}
.ant-modal-content{
    width: 50vw !important;
    height: 100%;

}

.container-detail-post{
    display: flex;
    flex-direction: column;
}

.header-detail-post{
    margin-top: 3vh;
    width: 100%;
    height: 20vh;
    background: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-post{
    height: 100%;
    width: 20vw;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.name-post{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    ont-family: 'Allerta', sans-serif;
    font-size: 6vh;
    font-weight: 800;
}

.gmail-post{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-family: 'Chivo', sans-serif;
    color: rgb(167, 167, 167);
    font-size: 5vh;
}

.avatar-post{
    margin-left: 20px; 
}

.ant-modal-footer{
    display: none;
}

.follow-button{
    margin-left: 15vw; 
}

.follow-button .ant-btn{
    border-radius: 30px;
    background: rgb(0, 170, 255) !important;
    width: 120px !important;
    height: 40px !important;
}

.content-post{
    background: green;
    width: 100%;
    font-size: 6vh;
}   

.time-create-pos{
    background: rgb(0, 119, 128);
    font-size: 4vh;
}

.item-react{
    background: red;
    height: 12vh;
}

.react-action{
    background: gray;
    height: 15vh;
}  */
