.profile-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 63px;
}

.content-container {
    width: auto;
    height: auto;
    height: 400px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 65px;
}
