.header-container .header{
    display:flex;
    flex-direction: row;
    background: yellow;
    height: 63px !important;
}

.header-container{
    height: 63px !important;
    width: 100vw !important;
    z-index: 1 !important; 
    position:fixed;
    left:0;
    right:0;
    top:0;
}
