.header{
    height: 63px !important;
    width: 100vw !important;
}

.ant-layout-header{
    background: rgb(255, 255, 255) !important;
    border-bottom: 1px solid rgb(197, 196, 196) !important;
    display: flex !important;
    flex-direction: row !important;
    padding: 0 !important;
}

.item{
    font-family: 'Concert One', cursive;
    font-size: 2vh;
}
.item:hover{
    background: rgba(255, 255, 255, 0.664) !important;
}

.ant-input{
    height: 10px!important;
}
