.following-text:hover {
    background-color: #ad0000;
}

.follow-text::after {
    content: 'Follow';
    color: black;
}
.following-text {
    background-color: #1DA1F2;
}

.following-text::after {
    content: 'Following';
}

.following-text:hover::after {
    content: 'Unfollow';
}