.ant-modal-title .title-react-review{
    display: flex!important;
    flex-direction: row;
    /* font-family: 'Concert One', cursive; */
    align-items: center;
    font-size: 1.5vh;
}

.container-detail-react-review{
    display: flex;
    flex-direction: column;
}

.header-detail-react-review{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
